<div class="col-md-6">
  <h4>Posts by all the people</h4>
  <ul class="media-list">
    <%= render @posts %>
  </ul>
</div>

<div class="col-md-6 alert alert-info">
  <% if logged_in? %>
    <div class="row">
      <h4>What's up <%= current_user.name %>?</h4>
    </div>
      <%= render 'posts/form' %>
  <% else %>
    <%= render 'sessions/form' %>
  <% end %>
</div>
